{
  "swagger" : "2.0",
  "info" : {
    "description" : "This sensors are located under the Tischkicker Arnim-Kreutzer-Arena. Each sensor measures the distance from it's location to the next obstacle it detects within an typical range of about three meters. Find detailed specification of the sensor here [Grove-Ultrasonic-Ranger](http://wiki.seeed.cc/Grove-Ultrasonic_Ranger/#specification). The sensors are arranged that it detects a typical player standing in front of the table. Hence, the distance measured will be typically below 80cm. Recent tests showed that not every players will be detected by this sensors because of movements or he stands with one's legs apart. The results of all four sensors together give you a valid result.",
    "version" : "1.0.0",
    "title" : "Sonic Sensor Service"
  },
  "host" : "kicker-aka.jambit.com/sonicsensor",
  "basePath" : "/",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/data" : {
      "get" : {
        "description" : "Returns current value of the sonic sensor to the caller",
        "operationId" : "sensor",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/sensorResponse"
            }
          },
          "default" : {
            "description" : "Error",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "x-swagger-router-controller" : "SensorController"
    },
    "/swagger" : {
      "x-swagger-pipe" : "swagger_raw"
    }
  },
  "definitions" : {
    "sensorResponse" : {
      "required" : [ "message" ],
      "properties" : {
        "message" : {
          "type" : "string"
        }
      }
    },
    "ErrorResponse" : {
      "required" : [ "message" ],
      "properties" : {
        "message" : {
          "type" : "string"
        }
      }
    }
  }
}