swagger: "2.0"
info:
  version: "1.0.0"
  title: Sonic Sensor Service
  description: This sensors are located under the Tischkicker Arnim-Kreutzer-Arena. Each sensor measures the distance from it's location to the next obstacle it detects within an typical range of about three meters. Find detailed specification of the sensor here [Grove-Ultrasonic-Ranger](http://wiki.seeed.cc/Grove-Ultrasonic_Ranger/#specification). The sensors are arranged that it detects a typical player standing in front of the table. Hence, the distance measured will be typically below 80cm. Recent tests showed that not every players will be detected by this sensors because of movements or he stands with one's legs apart. The results of all four sensors together give you a valid result.
  
# during dev, should point to your local machine
host: kicker-aka.jambit.com:10010
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /data:
    # binds a127 app logic to a route
    x-swagger-router-controller: SensorController
    get:
      description: Returns current value of the sonic sensor to the caller
      # used as the method name of the controller
      operationId: sensor
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/sensorResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
definitions:
  sensorResponse:
    required:
      - message
    properties:
      message:
        type: string
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
